.body {
  margin: 0px;
  font-family: sans-serif;
  background-color: #212F3D;
  display: flex;
  justify-content: center;
}
.body .toDo {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 20px 0px;
}
@media screen and (max-width: 359px) {
  .body .toDo {
    width: 300px;
  }
}
@media screen and (min-width: 360px) {
  .body .toDo {
    width: 360px;
  }
}
.body .toDo .header {
  background-color: #34495E;
  border-radius: 4px;
}
.body .toDo .header .heading {
  text-align: center;
  color: white;
  font-weight: 300;
  margin: 12px;
}
.body .toDo .header .input {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}
.body .toDo .header .input .input__window {
  height: 32px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #212F3D;
  color: white;
  box-sizing: border-box;
  border: 0px;
  padding: 0px 0px 0px 4px;
  outline: none;
}
@media screen and (max-width: 359px) {
  .body .toDo .header .input .input__window {
    width: 204px;
  }
}
@media screen and (min-width: 360px) {
  .body .toDo .header .input .input__window {
    width: 264px;
  }
}
.body .toDo .header .input .input__add {
  width: 60px;
  height: 32px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #A8E4A0;
  border: 0px;
  padding: 0px;
  cursor: pointer;
}
.body .toDo .header .input .input__add:hover {
  transition: 0.1s;
  background-color: #79c86f;
}
.body .toDo .items {
  list-style-type: none;
  color: white;
  margin: 0px;
  padding: 0px;
}
.body .toDo .items .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  padding: 4px;
  border-bottom: solid 2px #A8E4A0;
}
.body .toDo .items .item .item__text {
  margin: 0px;
  overflow-wrap: break-word;
}
@media screen and (max-width: 359px) {
  .body .toDo .items .item .item__text {
    width: 240px;
  }
}
@media screen and (min-width: 360px) {
  .body .toDo .items .item .item__text {
    width: 300px;
  }
}
.body .toDo .items .item .item__edit {
  color: grey;
}
.body .toDo .items .item .item__edit:hover {
  transition: 0.1s;
  color: #ab3434;
}
.body .toDo .items .item .item__delete {
  color: grey;
}
.body .toDo .items .item .item__delete:hover {
  transition: 0.1s;
  color: #ab3434;
}