.body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #212F3D;
    display: flex;
    justify-content: center;
    .toDo {
        display: flex;
        flex-direction: column;
        margin: 20px 0px 20px 0px;
        @media screen and (max-width: 359px) {
            width: 300px;
        }
        @media screen and (min-width: 360px) {
            width: 360px;
        }
        .header {
            background-color: #34495E;
            border-radius: 4px;
            .heading {
                text-align: center;
                color: white;
                font-weight: 300;
                margin: 12px;
            }
            .input {
                display: flex;
                justify-content: space-between;
                margin: 12px;
                .input__window {
                    height: 32px;
                    border-radius: 4px;
                    font-size: 16px;
                    background-color: #212F3D;
                    color: white;
                    box-sizing: border-box;
                    border: 0px;
                    padding: 0px 0px 0px 4px;
                    outline: none;
                    @media screen and (max-width: 359px) {
                        width: 204px;
                    }
                    @media screen and (min-width: 360px) {
                        width: 264px;
                    }
                }
                .input__add {
                    width: 60px;
                    height: 32px;
                    border-radius: 4px;
                    font-size: 16px;
                    background-color: #A8E4A0;
                    border: 0px;
                    padding: 0px;
                    cursor: pointer;
                }
                .input__add:hover {
                    transition: .1s;
                    background-color: #79c86f;
                }
            }
        }
        .items {
            list-style-type: none;
            color: white;
            margin: 0px;
            padding: 0px;
            .item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                min-height: 40px;
                padding: 4px;
                border-bottom: solid 2px #A8E4A0;
                .item__text {
                    margin: 0px;
                    word-break: break-all;
                    @media screen and (max-width: 359px) {
                        width: 240px;
                    }
                    @media screen and (min-width: 360px) {
                        width: 300px;
                    }
                }
                .item__edit {
                    color: grey;
                }
                .item__edit:hover {
                    transition: .1s;
                    color: #ab3434;
                }
                .item__delete {
                    color: grey;
                }
                .item__delete:hover {
                    transition: .1s;
                    color: #ab3434;
                }
            }
        }
    }
}